<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Notes App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1><%= message %></h1>

    <!-- ADD BOOK FORM FORM -->
      <% if (showAddButton) { %>
        <button id="toggle-form-button" class="toggle-form-button">Add another book</button>
        <%- include('addBook') -%>
      <% } %>
      
    <!-- BOOK LIST -->
    <div class="h2-books">
      <h2><a href="/books/all">All books</a></h2>
      <h2><a href="/books/reading">Currently reading</a></h2>
      <h2><a href="/books/planned">Want to read</a></h2>
      <h2><a href="/books/finished">Finished books</a></h2>
    </div>
    <ul class="book-list">
    <% if (books && books.length > 0) { %>
      <% books.forEach(function(book) { %>
        <li class="book-item">
          <img class="book-cover" src="<%= book.cover_url %>" alt="Cover">
          <div class="book-details">
            <span class="book-title"><%= book.title %></span>
            <span class="book-author">by <%= book.author %></span>
            <span class="book-status <%= book.status %>">
            <% if (book.status === 'reading') { %>📖 Currently Reading<% } else if (book.status === 'planned') { %>⏳ Want to Read<% } else { %>✅ Finished<% } %>
            </span>
            <span class="book-rating">★ <%= book.rating %></span>
            <span class="book-review"><%= book.review %></span>
            <span class="book-date">Read on: <%= book.date_read ? book.date_read.toISOString().slice(0, 10) : "No data" %></span>
           <div class="book-actions">
            <form action="/edit-book/<%= book.id %>" method="GET" class="edit-form">
              <button type="submit" class="edit-button">Edit</button>
            </form>
            <form action="/delete-book/<%= book.id %>" method="POST" class="delete-form">
              <button type="submit" class="delete-button">Delete</button>
            </form>
          </div>
          </div>
        </li>
      <% }); %>
    <% } else { %>
      <li>No books.</li>
    <% } %>
    </ul>
  </div>

<script src="js/hideForm.js"></script>
</body>
</html>
